body {
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 40px;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin: 1% 0 10%;
}

.page {
    width: 86%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 3mm;
    margin: 0 auto;
    padding: 5%;
}

.page>div {
    margin-bottom: 18px;
}

.convert-div {
    margin-bottom: 0 !important;
}

.dropdown, .amount {
    width: 100%;
    margin-top: 2%;
    border-radius: 2mm;
    border: 1px solid black;
}

.dropdown {
    height: 34px;
}

.dropdown:hover {
    cursor: pointer;
}

.amount {
    width: 97.38%;
    padding-left: 5px;
    height: 30px;
}

.result-div>p {
    margin: 0;
}

.result {
    margin-top: 1% !important;
    font-size: 26px;
    font-weight: bold;
}

.convert-div {
    text-align: center;
}

.convert {
    border: none;
    padding: 12px 20px;
    border-radius: 4mm;
    font-size: 16px;
}

.convert:hover {
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    .title {
        font-size: 56px;
        margin-bottom: 4%;
    }
    .page {
        width: 78%;
        flex-direction: row;
        padding: 2%;
    }
    .page>div {
        margin-bottom: 0;
    }
    .dropdown-div, .amount-div, .convert-div {
        flex: 0 0 33%;
    }
    .dropdown, .amount {
        width: 90%;
    }
    .result-div {
        margin-top: 2%;
        flex: 0 0 66%;
    }
    .convert-div {
        margin-top: 3.5%;
    }
}