body {
    font-family: 'Roboto', sans-serif;
}

.title {
    margin: 1% auto 10%;
    text-align: center;
}

.title a {
    text-decoration: none;
}

.title h1 {
    font-size: 40px;
    font-family: 'Lobster', cursive;
    display:inline;
}

.page {
    width: 86%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 3mm;
    margin: 0 auto;
    padding: 5%;
}

.page>div {
    margin-bottom: 18px;
}

.convert-div {
    margin-bottom: 0 !important;
}

.dropdown, .amount {
    width: 100%;
    margin-top: 2%;
    border-radius: 2mm;
    border: 1px solid black;
}

.dropdown {
    height: 34px;
    border-color: rgba(95, 95, 95, 0.85);
}

.dropdown:hover {
    cursor: pointer;
}

.amount {
    width: 97.38%;
    padding-left: 5px;
    height: 30px;
    border-color: rgba(95, 95, 95, 0.85);
}

.result-div>p {
    margin: 0;
}

.result {
    margin-top: 1% !important;
    font-size: 26px;
    font-weight: bold;
}

.convert-div {
    text-align: center;
}

.convert {
    border: none;
    padding: 12px 20px;
    border-radius: 4mm;
    font-size: 16px;
}

.convert:hover {
    cursor: pointer;
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 96%;
}

.made-by, .lower-text {
    margin: 8px;
}

.made-by {
    font-size: 18px;
}

.lower-text {
    font-size: 8px;
}

.disclaimer, .green, .red {
    font-weight: bold;
}

.green {
    color: rgb(0, 180, 15);
}

.red {
    color: red;
}

@media only screen and (min-width: 600px) {
    .title {
        margin-bottom: 4%;
    }
    .title h1 {
        font-size: 56px;
    }
    .page {
        width: 78%;
        flex-direction: row;
        padding: 2%;
    }
    .page>div {
        margin-bottom: 0;
    }
    .dropdown-div, .amount-div, .convert-div {
        flex: 0 0 33%;
    }
    .dropdown, .amount {
        width: 90%;
    }
    .result-div {
        margin-top: 2%;
        flex: 0 0 66%;
    }
    .convert-div {
        margin-top: 3.5%;
    }
    .made-by, .lower-text {
        margin: 10px;
    }
    .made-by {
        font-size: 24px;
    }
    .lower-text {
        font-size: 12px;
    }
}