body {
    background-color: #121212;
}

.title h1, .result {
    color: white;
}

.dropdown, .amount, .tags {
    color: #E2E2E2;
}

.page, .dropdown, .amount {
    background-color: #1E1E1E;
}

.dropdown, .amount {
    border-color: white;
}

.convert {
    background-color: #F9266C;
    color: white;
}

.convert:hover {
    background-color: #f9266ce0;
}

.footer {
    color: #E2E2E2;
}

.link {
    color: #F9266C;
}