.page {
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
}

.dropdown, .amount {
    background-color: white;
}

.convert {
    background-color: rgb(38, 0, 255);
    color: white;
}

.convert:hover {
    background-color: rgba(38, 0, 255, 0.9);
}

.tags {
    color: rgb(90, 90, 90);
}

.link {
    color: rgb(38, 0, 255);
}