.page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input, .output {
    border-radius: 3mm;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (min-width: 600px) {
    .page {
        flex-direction: row;
    }
    .buttons {
        flex-direction: column;
    }
}